/* zoek component css*/
.zoekcontainer{
  background-color: rgb(33, 122, 215);
  position: relative;
  top: 0;
  width: 100%;
  height: 8rem;
  display: flex;
}

.zoekbalk{
  background-color: white;
  width: 75%;
  height: 35%;
  display: flex;
  align-items: center;
  margin-left: 5%;
  padding-left: 2%;
  margin-top: 3.8rem;
  border-radius: 5px;
}

.locationIcon{
  margin-right: 1rem;
}


.search{
  background-color: rgb(245, 206, 62);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 35%;
  border-radius: 5px;
  margin-top: 3.8rem;
  margin-left: 10px;
}
.greyText{
  color: rgb(128, 128, 128);
}

/* navigation component css*/

.navigationContainer{  
  background-color: #f0f0f0; 
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  bottom: 0;
  
}

.navigation {
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0; /* Remove padding on the sides */

}

/* korting component css*/

.kortingContainer{
  background-color: rgb(203, 229, 249);
  height: 8.5rem;
  width: 90vw;
  display: flex;
  margin: 0 auto;
  margin-top: 1.5rem;
  border-radius: 8px;
}

.korting{
  width: 100%;
}

.smallText{
  font-size: 14px;
  margin-left: 15px;
  font-weight: bold;
  color: rgb(100, 100, 100);
  
}
.smallTextRight{
  font-size: 14px;
  margin-right: 15px;
  font-weight: bold;
  color: rgb(100, 100, 100);
  
}
.text{
  font-weight: bold;
  font-size: 17px;
  margin-left: 15px;
  line-height: 0rem;
  margin-bottom: 2.8rem;
}


.beurtenContainer{
  display: flex;
  justify-content: space-between;
  line-height: 0.05rem;
}

.progressbarContainer{
  width: 75vw;
}

.progressbar {
  margin-left: 10%;
  background-image: linear-gradient(to right, royalblue 70%, white 70%);
  width: 100%;
  height: 8px;
  border-radius: 3px;

}

.progressIcon {
  position: absolute; /* Position the progressIcon absolutely */
  top: 12.5rem; /* Adjust this value to your preference */
  left: 65%; /* Adjust this value to position it above the 65% mark */
  transform: translateX(-50%); /* Center the icon horizontally */
}


/* nearby_fav component*/
.h1{
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 20px;

}

.nearbyfavContainer{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: space-between;
}

.favoriteIcon{
  margin: auto;
  margin-right: 20px;
}

/* stations component*/

.stationsContainer{
  background-color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.distance{
  display: flex;
 
}
.straatnaam{
  font-weight: bold;
  margin-top: 1px;
  margin-bottom: 10px;
}

.distanceText{
  font-size: 14px;
  margin: auto;
  margin-left: 5px;
  font-weight: bold;
  color: rgb(128, 128, 128);
  
} 
.whatsleft{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  text-align: center;
}
.whatsleftLargeText{
  font-size: 22px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 0px;
  font-family:  'Roboto', sans-serif;
}
.whatsleftSmallText{
  font-size: 14px;
  color: rgb(0, 0, 0);
  margin-top: 5px;
  margin-bottom: 0px;
}

.stationsvisual {
  display: flex;
  align-items: flex-end; /* Align items to the bottom */
  margin: -13px;
}

.visual{
  display: block;
  align-items: end;
}